{{#each services}}
  <div class="service-card">
    <h2>{{ service_name }}</h2>
    <p>{{ description }}</p>
    {{#if job_offers}}
      <h4>Job Offers:</h4>
      <ul>
        {{#each job_offers}}
          <li>
            {{ description }} offered by {{ user.first_name }} {{ user.last_name }}
            <button type="button" data-job-offer-id="{{ id }}" class="create-job-btn">Create Job</button>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/each}}

<!-- Modal for creating a new job -->
<div class="modal" id="create-job-modal">
  <div class="modal-content">
    <form id="create-job-form">
      <label for="job_title">Job Title:</label>
      <input type="text" id="job_title" name="job_title" required>
      <br>
      <label for="job_description">Job Description:</label>
      <input type="text" id="job_description" name="job_description" required>
      <br>
      <label for="job_status_name_id">Job Status:</label>
      <input type="number" id="job_status_name_id" name="job_status_name_id" required>
      <br>
      <label for="service_id">Service ID:</label>
      <input type="number" id="service_id" name="service_id" required>
      <br>
      <label for="service_provider_id">Service Provider ID:</label>
      <input type="number" id="service_provider_id" name="service_provider_id" required>
      <br>
      <label for="customer_id">Customer ID:</label>
      <input type="number" id="customer_id" name="customer_id" required>
      <br>
      <button type="submit">Create Job</button>
    </form>
  </div>
</div>

<script src="/js/homepage.js"></script>